body {
    margin: 0;
    border: 0;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-image: url("../img/cat.webp");
}

@media only screen and (min-width:1600px) {
    body {
        background-position: top;
        background-size: cover;
    }
}

.container {
    width: 100%;
    border: 1px solid grey;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.box {
    height: 90%;
    width: 100%;
    color: white;
}
a:link, a:active, a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: grey;
    text-decoration: none;
}
#mquote {
    color: cyan;
    font-size: 14px;
}
p {
    padding: 20px;
    font-size: 1.3em;
    text-align: left;
}

.banner {
    background-color: rgba(185, 143, 64, 0.404);
    backdrop-filter: blur(8px);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    height: calc(100% - 140px);
    position: absolute;
}