body {
    margin: 0;
    border: 0;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-color: rgb(188, 188, 185);
}
.container {
    width: 100%;
    border: 1px solid grey;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
}
.box {
    height: 90%;
    width: 100%;
    /* color: white; */
}
a:link, a:active, a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: grey;
    text-decoration: none;
}
.block {
    border-radius: 20px;
    float: left;
    width: calc(33.33% - 80px);
    margin: 40px;
    background-color: rgba(216, 210, 183, 0.404);
    backdrop-filter: blur(4px);
    padding: 0px;
}

img {
    overflow: hidden;
    width:100%;
    border-radius: 20px;
}

.timer {
    font-size: 400px;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
}
.timer-box {
    width: 1200px;
    margin-left: calc(50% - 600px);
    border-radius: 20px;
    margin-bottom: 0px;
    background-color: rgba(216, 210, 183, 0.178);
}

.continue {
    position: absolute;
    font-size: 100px;
    text-align: center;
    width: 100%;
}

.video-for-cats {
    position: absolute;
    top: 80px;
    left: calc(50% - 355px);
    height: 400px;
    aspect-ratio: 16 / 9;

}

iframe {
    width: 100%;
    height: 100%;
}