* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    border: 0;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-image: url("../cat.jfif");  
}
.container {
    width: 100%;
    border: 1px solid grey;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.box {
    height: 90%;
    width: 100%;
    /* color: white; */
}

.banner {
    background-color: rgba(216, 210, 183, 0.404);;
    backdrop-filter: blur(4px);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}

.banner:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: left;
    height: inherit;
}

.video {
    float: right;
    height: 100%;
    border-radius: 10px;
    aspect-ratio: 16 / 9;
}

.side-scroller {
    width: calc(100% - 60px);
    background-color: rgba(216, 210, 183, 0.404);;
    backdrop-filter: blur(4px);
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 20px;
    overflow-x: scroll;
}

.side-page {
    float: left;
    width: 100%;
}

a:link, a:active, a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: grey;
    text-decoration: none;
}